.banner {
  height: 350px;
  background-color: black;
  background-image: url("../images/foto_bw.jpg");
  background-size: cover;
  background-position: center;

  margin-bottom: 20px;

  h1 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.5em;
  }
}

.aboutme {
  a {
    text-decoration: none;
    color: black;

    :hover {
      color: white;
      background-color: green;
    }
  }
}

.card-link {
  a {
    text-decoration: none;
  }
}

.skills {
  p {
    margin-bottom: 0;
  }

  .progress-bar {
     background-color: black;
     border-radius: 20px;
  }
  .progress {
    border-radius: 20px;
  }
}

.socials {
  a {
    font-size: 2em;
    padding: 30px;

    :hover {
      color: #D8D8D8;
    }
  }

  .fa-facebook-f {
    color: #3b5998;
  }

  .fa-linkedin-in {
    color: #00aced;
  }

  .fa-instagram {
    color: #AD00BD;
  }

  .fa-github {
    color: black;
  }
}


@media screen and (min-width: 768px) {
  .banner {
    height: 700px;

    h1 {
      font-size: 3em;
    }

    h3 {
      font-size: 2em;
    }
  }
  .socials {
    a {
      font-size: 3em;
    }
  }
}
