@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap');

$primary-color: #000000;
$secondary-color: #FAFAFA;
$tertiary-color: #EEEEEE;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: $secondary-color
}

.navbar {
  background-color: $tertiary-color;
}

.banner {
  height: 350px;
  background-color: black;
  background-image: url("../images/foto_bw.jpg");
  background-size: cover;
  background-position: center;

  margin-bottom: 20px;

  h1 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.5em;
  }
}

.aboutme {
  a {
    text-decoration: none;
    color: $primary-color;

    :hover {
      color: white;
      background-color: green;
    }
  }
}

.card-link {
  a {
    text-decoration: none;
  }
}

.skills {
  p {
    margin-bottom: 0;
  }

  .progress-bar {
     background-color: $primary-color;
     border-radius: 20px;
  }
  .progress {
    background-color: $tertiary-color;
    border-radius: 20px;
  }
}

.write-me{
  .form-control {
    border-radius: 30px;
  }

  .btn {
    border-radius: 30px;
  }
}

.socials {
  a {
    font-size: 2em;
    padding: 30px;

    :hover {
      color: #D8D8D8;
    }
  }

  .fa-facebook-f {
    color: #3b5998;
  }

  .fa-linkedin-in {
    color: #00aced;
  }

  .fa-instagram {
    color: #E03C95;
  }

  .fa-github {
    color: black;
  }
}

hr.light {
    border-top: 1px solid white;
  }

footer {
  height: 200px;
  background-color: $primary-color;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: $primary-color;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

//Projects page
.projects {
  padding-top: 65px;

  img {
    border-radius: 10px;
  }
}

@media screen and (min-width: 768px) {
  .banner {
    height: 700px;

    h1 {
      font-size: 3.5em;
    }

    h3 {
      font-size: 2em;
    }
  }

  .socials {
    a {
      font-size: 3em;
    }
  }

  footer {
    height: 250px;
  }

//Projects page
  .projects {
    .row-reverse {
      flex-direction: row-reverse;
    }
  }
}
